In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

# Set style for plots
plt.style.use('default')
sns.set_palette("husl")

print("Libraries imported successfully!")

Libraries imported successfully!

In [3]:
import os

# Check what files are in the data/raw directory
os.chdir("C:/Users/Inchara/SHOPPER-SPECTRUM")  # ✅ Change this path if your project is elsewhere

# Then list the raw folder
raw_files = os.listdir("data/raw")
print("Files in raw folder:", raw_files)

# Try to load the dataset - adjust filename as needed
dataset_file = None
for file in raw_files:
    if file.endswith('.csv'):
        dataset_file = file
        break

if dataset_file:
    print(f"Loading dataset: {dataset_file}")
    df = pd.read_csv(f'data/raw/{dataset_file}')
    print("Dataset loaded successfully!")
else:
    print("No CSV file found in data/raw directory.")
    print("Please ensure your dataset is saved as a .csv file in the data/raw folder.")
    # You can also try loading other formats like Excel
    for file in raw_files:
        if file.endswith(('.xlsx', '.xls')):
            print(f"Found Excel file: {file}")
            print("Attempting to load Excel file...")
            df = pd.read_excel(f'data/raw/{file}')
            print("Excel dataset loaded successfully!")
            break

Files in raw folder: ['online_retail.csv']
Loading dataset: online_retail.csv
Dataset loaded successfully!

In [4]:
print("Dataset Shape:", df.shape)
print("\nDataset Info:")
print(df.info())

Dataset Shape: (541909, 8)

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

In [5]:
# Display first few rows
print("First 5 rows of the dataset:")
df.head()

First 5 rows of the dataset:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2022-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2022-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
print("Last 5 rows of the dataset:")
df.tail()

Last 5 rows of the dataset:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2023-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2023-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2023-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2023-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2023-12-09 12:50:00,4.95,12680.0,France

In [7]:
print("Missing Values Count:")
missing_values = df.isnull().sum()
print(missing_values)
print(f"\nTotal missing values: {missing_values.sum()}")

Missing Values Count:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Total missing values: 136534

In [8]:
print("Statistical Summary:")
df.describe()

Statistical Summary:

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [9]:
print("Data Types:")
for col in df.columns:
    print(f"{col}: {df[col].dtype}")

Data Types:
InvoiceNo: object
StockCode: object
Description: object
Quantity: int64
InvoiceDate: object
UnitPrice: float64
CustomerID: float64
Country: object

In [10]:
# Check unique values in categorical columns
print("Unique Values Count:")
for col in ['InvoiceNo', 'StockCode', 'Description', 'CustomerID', 'Country']:
    if col in df.columns:
        print(f"{col}: {df[col].nunique()} unique values")

# %%
# Check for cancelled orders (InvoiceNo starting with 'C')
cancelled_orders = df[df['InvoiceNo'].str.startswith('C', na=False)]
print(f"Cancelled orders: {len(cancelled_orders)} ({len(cancelled_orders)/len(df)*100:.2f}%)")

Unique Values Count:
InvoiceNo: 25900 unique values
StockCode: 4070 unique values
Description: 4223 unique values
CustomerID: 4372 unique values
Country: 38 unique values
Cancelled orders: 9288 (1.71%)

In [11]:
# Check for negative quantities
negative_qty = df[df['Quantity'] < 0]
print(f"Negative quantities: {len(negative_qty)} records")

# %%
# Check for zero or negative prices
zero_negative_price = df[df['UnitPrice'] <= 0]
print(f"Zero or negative prices: {len(zero_negative_price)} records")

# %%
# Date range analysis
if 'InvoiceDate' in df.columns:
    df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
    print(f"Date range: {df['InvoiceDate'].min()} to {df['InvoiceDate'].max()}")

Negative quantities: 10624 records
Zero or negative prices: 2517 records
Date range: 2022-12-01 08:26:00 to 2023-12-09 12:50:00

In [12]:
# Country distribution
print("Country Distribution:")
country_dist = df['Country'].value_counts()
print(country_dist)

# %%
# Detailed column analysis
print("=== COLUMN ANALYSIS ===")
print(f"Expected columns: ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']")
print(f"Actual columns: {list(df.columns)}")
print(f"Number of columns: {len(df.columns)}")

# Check if column names match expected format
expected_cols = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
actual_cols = list(df.columns)

print("\nColumn Matching:")
for expected in expected_cols:
    if expected in actual_cols:
        print(f"✓ {expected} - Found")
    else:
        print(f"✗ {expected} - Not found")
        # Check for similar column names
        similar = [col for col in actual_cols if expected.lower() in col.lower() or col.lower() in expected.lower()]
        if similar:
            print(f"  Possible matches: {similar}")

Country Distribution:
Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64
=== COLUMN ANALYSIS ===
Expected columns: ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
Actual columns: ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
Number of columns: 8

Column Matching:
✓ InvoiceNo - Found
✓ StockCode - Found
✓ Description - Found
✓ Quantity - Found
✓ InvoiceDate - Found
✓ UnitPrice - Found
✓ CustomerID - Found
✓ Country - Found

In [13]:
# Data quality deep dive
print("=== DATA QUALITY ASSESSMENT ===")

# 1. Missing values analysis
print("\n1. MISSING VALUES:")
missing_analysis = df.isnull().sum()
missing_percentage = (df.isnull().sum() / len(df)) * 100

missing_df = pd.DataFrame({
    'Missing Count': missing_analysis,
    'Missing Percentage': missing_percentage.round(2)
})
print(missing_df[missing_df['Missing Count'] > 0])

# 2. Duplicate records
print(f"\n2. DUPLICATE RECORDS:")
duplicate_count = df.duplicated().sum()
print(f"Total duplicate rows: {duplicate_count}")

# 3. Data type issues
print(f"\n3. DATA TYPES:")
for col in df.columns:
    print(f"{col}: {df[col].dtype}")

=== DATA QUALITY ASSESSMENT ===

1. MISSING VALUES:
             Missing Count  Missing Percentage
Description           1454                0.27
CustomerID          135080               24.93

2. DUPLICATE RECORDS:
Total duplicate rows: 5268

3. DATA TYPES:
InvoiceNo: object
StockCode: object
Description: object
Quantity: int64
InvoiceDate: datetime64[ns]
UnitPrice: float64
CustomerID: float64
Country: object

In [14]:
# Business logic validation
print("=== BUSINESS LOGIC VALIDATION ===")

# 1. Invoice analysis
if 'InvoiceNo' in df.columns:
    print("\n1. INVOICE ANALYSIS:")
    total_invoices = df['InvoiceNo'].nunique()
    cancelled_invoices = df[df['InvoiceNo'].astype(str).str.startswith('C', na=False)]
    print(f"Total unique invoices: {total_invoices}")
    print(f"Cancelled invoices: {len(cancelled_invoices)} ({len(cancelled_invoices)/len(df)*100:.2f}%)")
    
    # Show some examples of cancelled invoices
    if len(cancelled_invoices) > 0:
        print("\nSample cancelled invoices:")
        print(cancelled_invoices[['InvoiceNo', 'Quantity', 'UnitPrice']].head())

# 2. Quantity analysis
if 'Quantity' in df.columns:
    print(f"\n2. QUANTITY ANALYSIS:")
    print(f"Quantity range: {df['Quantity'].min()} to {df['Quantity'].max()}")
    negative_qty = df[df['Quantity'] < 0]
    zero_qty = df[df['Quantity'] == 0]
    print(f"Negative quantities: {len(negative_qty)} records")
    print(f"Zero quantities: {len(zero_qty)} records")

# 3. Price analysis
if 'UnitPrice' in df.columns:
    print(f"\n3. PRICE ANALYSIS:")
    print(f"Price range: {df['UnitPrice'].min()} to {df['UnitPrice'].max()}")
    negative_price = df[df['UnitPrice'] < 0]
    zero_price = df[df['UnitPrice'] == 0]
    print(f"Negative prices: {len(negative_price)} records")
    print(f"Zero prices: {len(zero_price)} records")

=== BUSINESS LOGIC VALIDATION ===

1. INVOICE ANALYSIS:
Total unique invoices: 25900
Cancelled invoices: 9288 (1.71%)

Sample cancelled invoices:
    InvoiceNo  Quantity  UnitPrice
141   C536379        -1      27.50
154   C536383        -1       4.65
235   C536391       -12       1.65
236   C536391       -24       0.29
237   C536391       -24       0.29

2. QUANTITY ANALYSIS:
Quantity range: -80995 to 80995
Negative quantities: 10624 records
Zero quantities: 0 records

3. PRICE ANALYSIS:
Price range: -11062.06 to 38970.0
Negative prices: 2 records
Zero prices: 2515 records

In [15]:
# Customer analysis
if 'CustomerID' in df.columns:
    print("=== CUSTOMER ANALYSIS ===")
    
    # Remove null customer IDs for analysis
    customers_with_id = df.dropna(subset=['CustomerID'])
    
    print(f"Total records: {len(df)}")
    print(f"Records with CustomerID: {len(customers_with_id)}")
    print(f"Records without CustomerID: {len(df) - len(customers_with_id)}")
    print(f"Unique customers: {customers_with_id['CustomerID'].nunique()}")
    
    # Customer transaction frequency
    customer_transactions = customers_with_id['CustomerID'].value_counts()
    print(f"\nCustomer transaction frequency:")
    print(f"Average transactions per customer: {customer_transactions.mean():.2f}")
    print(f"Median transactions per customer: {customer_transactions.median():.2f}")
    print(f"Max transactions by single customer: {customer_transactions.max()}")
    print(f"Min transactions by single customer: {customer_transactions.min()}")

# %%
# Product analysis
if 'StockCode' in df.columns and 'Description' in df.columns:
    print("=== PRODUCT ANALYSIS ===")
    
    print(f"Unique stock codes: {df['StockCode'].nunique()}")
    print(f"Unique product descriptions: {df['Description'].nunique()}")
    
    # Most popular products
    print(f"\nTop 10 most frequently purchased products:")
    top_products = df['StockCode'].value_counts().head(10)
    for stock_code, count in top_products.items():
        description = df[df['StockCode'] == stock_code]['Description'].iloc[0]
        print(f"{stock_code}: {description} - {count} transactions")

# %%
# Geographic analysis
if 'Country' in df.columns:
    print("=== GEOGRAPHIC ANALYSIS ===")
    
    country_stats = df['Country'].value_counts()
    print(f"Number of countries: {len(country_stats)}")
    print(f"\nTop 10 countries by transaction volume:")
    print(country_stats.head(10))
    
    print(f"\nCountry distribution (%):")
    country_pct = (country_stats / len(df) * 100).round(2)
    print(country_pct.head(10))

# %%
# Temporal analysis
if 'InvoiceDate' in df.columns:
    print("=== TEMPORAL ANALYSIS ===")
    
    # Convert to datetime if not already
    df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
    
    print(f"Date range: {df['InvoiceDate'].min()} to {df['InvoiceDate'].max()}")
    print(f"Total time span: {df['InvoiceDate'].max() - df['InvoiceDate'].min()}")
    
    # Extract time components for analysis
    df['Year'] = df['InvoiceDate'].dt.year
    df['Month'] = df['InvoiceDate'].dt.month
    df['Day'] = df['InvoiceDate'].dt.day
    df['Hour'] = df['InvoiceDate'].dt.hour
    df['DayOfWeek'] = df['InvoiceDate'].dt.day_name()
    
    print(f"\nYearly distribution:")
    print(df['Year'].value_counts().sort_index())
    
    print(f"\nMonthly distribution:")
    print(df['Month'].value_counts().sort_index())

# %%
# Calculate total amount for financial analysis
if 'Quantity' in df.columns and 'UnitPrice' in df.columns:
    print("=== FINANCIAL ANALYSIS ===")
    
    df['TotalAmount'] = df['Quantity'] * df['UnitPrice']
    
    print(f"Total revenue: ${df['TotalAmount'].sum():,.2f}")
    print(f"Average transaction value: ${df['TotalAmount'].mean():.2f}")
    print(f"Median transaction value: ${df['TotalAmount'].median():.2f}")
    print(f"Largest transaction: ${df['TotalAmount'].max():.2f}")
    print(f"Smallest transaction: ${df['TotalAmount'].min():.2f}")
    
    # Remove negative amounts for positive revenue analysis
    positive_transactions = df[df['TotalAmount'] > 0]
    print(f"\nPositive transactions only:")
    print(f"Count: {len(positive_transactions)}")
    print(f"Total positive revenue: ${positive_transactions['TotalAmount'].sum():,.2f}")
    print(f"Average positive transaction: ${positive_transactions['TotalAmount'].mean():.2f}")

# %%
# Data quality summary and recommendations
print("=== DATA QUALITY SUMMARY ===")

issues_found = []
recommendations = []

# Check for major issues
if df.isnull().sum().sum() > 0:
    issues_found.append("Missing values detected")
    recommendations.append("Handle missing CustomerIDs - remove or impute")

if 'InvoiceNo' in df.columns and df[df['InvoiceNo'].astype(str).str.startswith('C', na=False)].shape[0] > 0:
    issues_found.append("Cancelled orders detected")
    recommendations.append("Remove cancelled orders (InvoiceNo starting with 'C')")

if 'Quantity' in df.columns and (df['Quantity'] <= 0).sum() > 0:
    issues_found.append("Zero or negative quantities found")
    recommendations.append("Remove records with zero or negative quantities")

if 'UnitPrice' in df.columns and (df['UnitPrice'] <= 0).sum() > 0:
    issues_found.append("Zero or negative prices found")
    recommendations.append("Remove records with zero or negative prices")

print("Issues Found:")
for i, issue in enumerate(issues_found, 1):
    print(f"{i}. {issue}")

print("\nRecommendations for next step (Data Preprocessing):")
for i, rec in enumerate(recommendations, 1):
    print(f"{i}. {rec}")

if not issues_found:
    print("✓ No major data quality issues found!")

print(f"\nDataset is ready for preprocessing step!")
print(f"Current shape: {df.shape}")
print(f"After cleaning, expect shape to be smaller due to removed problematic records.")

=== CUSTOMER ANALYSIS ===
Total records: 541909
Records with CustomerID: 406829
Records without CustomerID: 135080
Unique customers: 4372

Customer transaction frequency:
Average transactions per customer: 93.05
Median transactions per customer: 42.00
Max transactions by single customer: 7983
Min transactions by single customer: 1
=== PRODUCT ANALYSIS ===
Unique stock codes: 4070
Unique product descriptions: 4223

Top 10 most frequently purchased products:
85123A: WHITE HANGING HEART T-LIGHT HOLDER - 2313 transactions
22423: REGENCY CAKESTAND 3 TIER - 2203 transactions
85099B: JUMBO BAG RED RETROSPOT - 2159 transactions
47566: PARTY BUNTING - 1727 transactions
20725: LUNCH BAG RED RETROSPOT - 1639 transactions
84879: ASSORTED COLOUR BIRD ORNAMENT - 1502 transactions
22720: SET OF 3 CAKE TINS PANTRY DESIGN  - 1477 transactions
22197: SMALL POPCORN HOLDER - 1476 transactions
21212: PACK OF 72 RETROSPOT CAKE CASES - 1385 transactions
20727: LUNCH BAG  BLACK SKULL. - 1350 transactions
=== GEOGRAPHIC ANALYSIS ===
Number of countries: 38

Top 10 countries by transaction volume:
Country
United Kingdom    495478
Germany             9495
France              8557
EIRE                8196
Spain               2533
Netherlands         2371
Belgium             2069
Switzerland         2002
Portugal            1519
Australia           1259
Name: count, dtype: int64

Country distribution (%):
Country
United Kingdom    91.43
Germany            1.75
France             1.58
EIRE               1.51
Spain              0.47
Netherlands        0.44
Belgium            0.38
Switzerland        0.37
Portugal           0.28
Australia          0.23
Name: count, dtype: float64
=== TEMPORAL ANALYSIS ===
Date range: 2022-12-01 08:26:00 to 2023-12-09 12:50:00
Total time span: 373 days 04:24:00

Yearly distribution:
Year
2022     42481
2023    499428
Name: count, dtype: int64

Monthly distribution:
Month
1     35147
2     27707
3     36748
4     29916
5     37030
6     36874
7     39518
8     35284
9     50226
10    60742
11    84711
12    68006
Name: count, dtype: int64
=== FINANCIAL ANALYSIS ===
Total revenue: $9,747,747.93
Average transaction value: $17.99
Median transaction value: $9.75
Largest transaction: $168469.60
Smallest transaction: $-168469.60

Positive transactions only:
Count: 530104
Total positive revenue: $10,666,684.54
Average positive transaction: $20.12
=== DATA QUALITY SUMMARY ===
Issues Found:
1. Missing values detected
2. Cancelled orders detected
3. Zero or negative quantities found
4. Zero or negative prices found

Recommendations for next step (Data Preprocessing):
1. Handle missing CustomerIDs - remove or impute
2. Remove cancelled orders (InvoiceNo starting with 'C')
3. Remove records with zero or negative quantities
4. Remove records with zero or negative prices

Dataset is ready for preprocessing step!
Current shape: (541909, 14)
After cleaning, expect shape to be smaller due to removed problematic records.